SHOPIFY_API_KEY=
SHOPIFY_API_SECRET=
SHOPIFY_APP_URL=
SCOPES=read_discounts,write_discounts
DATABASE_URL=
SHOPIFY_APP_NAME=FreeShip Rules
SHOPIFY_BILLING_TEST=true
MONTHLY_PRICE=10
TRIAL_DAYS=7
ACCESS_TOKEN_ENCRYPTION_KEY=
