SHOPIFY_API_KEY=
SHOPIFY_API_SECRET=
SHOPIFY_APP_URL=
SCOPES=read_discounts,write_discounts,read_products,write_products,read_publications,write_publications,write_app_proxy
DATABASE_URL=
SHOPIFY_APP_NAME=FreeShip Rules
SHOPIFY_BILLING_TEST=true
SHOPIFY_BILLING_BYPASS=false
MONTHLY_PRICE=10
TRIAL_DAYS=7
ACCESS_TOKEN_ENCRYPTION_KEY=
DEFAULT_SHOP_DOMAIN=
